<div class="panel">
  <div>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

      <div class="form-group">

        <input type="text" formControlName="name" (focus)="onFocus()" (focusout)="onFocusOut()"
          (ngModelChange)="showSuggesstion()" class="form-control">

        <span *ngIf="suggestValid">
          <div class="suggest" *ngFor="let item of suggestData">
            <p>{{item.name}}</p>
          </div>
        </span>
        <div class="error-text" *ngIf="errorStatus">
          <p>{{errorMsg}}</p>
        </div>

      </div>

      <div class="form-group">
        <button class="primary" type="submit">Register</button>
      </div>

    </form>
  </div>

  <div class="sort-button">
    <button class="primary" (click)=toggleSort()>Toggle Sort</button>
  </div>

  <div class="table-align">
    <table class="center">

      <thead>
        <tr>
          <th>List</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of data">
          <td>{{ item.name }}</td>
        </tr>
      </tbody>

    </table>
  </div>

</div>